name: auth0_dart_auth_sdk
description: A Dart SDK for auth0 Authentication, enabling secure server-side authentication and user management for Dart-based backend applications.
version: 0.0.4
repository: https://github.com/aortem/auth0-dart-auth-sdk
license: BSD-3

environment:
  sdk: ^3.10.3

dependencies:

#------------------ STANDARD FEATURES---------------------------------

## There are three standard libraries provided by the Dart Team. 

  ds_standard_features: ^0.1.2

#------------------ ADDITIONAL FEATURES---------------------------------
  build_web_compilers: ^4.4.5
  jwt_generator: ^0.0.8
  web: ^1.1.1
  js_interop: ^0.0.1

#------------------ TESTING FEATURES---------------------------------

dev_dependencies:
  ds_tools_testing: ^0.1.4
  git_hooks: any

# Optional Local Hooks for development.
git_hooks:
  hooks:
    pre-commit: ./local_dev_tools/validate_commit.dart
    commit-msg: ./local_dev_tools/validate_commit_msg.dart
    pre-push: ./local_dev_tools/validate_branch.dart